body {
  background-color:rgb(225, 235, 243);
}

.heading {
  font-family: cursive;
}

.turn {
  font-family: monospace;
}

.container {
  display: flex;
  flex-direction:column;
  align-items:center;
}

.board {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 14px solid lightcoral;
  width:500px;
  height: 500px;
}

.cell-btn {
  font-size: xx-large;
}

.cell-btn:hover {
  cursor: pointer;
}
