html {
  width: 100%;
}

.whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  max-width: min-content;
  justify-content: end;
}

.container div {
  margin: 20px;
}

.error {
  border-color: red;
  padding: 0.2em;
  border-radius: 0 0 5px 5px;
}

input:invalid,
select:invalid {
  border-color: #900;
  background-color: #ffd;
}

input:focus:invalid,
select:focus:invalid {
  outline: none;
}