body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  font-family: roboto, sans-serif;
  margin: 0;
}

.top-container {
  padding: 10px 300px 0px;
  color: rgb(248, 239, 239);
  background-color: #1F2937;
}

.header {
  display: flex;
  gap: 20px;
}

.header h1 {
  font-size: 24px;
  color: #F9FAF8;
  margin: 0 auto;
  margin-left: 0;
}

.header ul {
  display: flex;
  gap: 20px;
}

.hero-text {
  display: flex;
}

.hero-text container {
  display: flex;
  flex: 0.5;
}

.header a,
.hero-text p {
  color: #E5E7EB;
  font-size: 18px;
}

.hero-text h4 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(232, 225, 225);
}

.hero-text img {
  width: 400px;
  height: auto;
  flex: 2;
  margin-left: 40px;
}

button {
  background-color: #3882F6;
  border-radius: 6px;
  padding: 10px 30px;
  color: #F9FAF8;
  border: 0px;
  font-size: 18px;
}

.container > p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.images img {
  border: 4px solid #3882F6;
  border-radius: 34px;
  max-width:100%;
}

.mid-container {
  padding: 10px 300px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images {
 display: flex;
 gap: 80px;
}

.images > div {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.mid-container > .info {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
}

.images p {
  margin-top: 5px;
  text-align: center;
  color: #615c57;
}

.last-but-one {
  background-color: #E5E7EB;
  padding: 0 300px 100px;
}

.last-but-one .text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 0;
  padding-top: 60px;
  color: rgb(199, 140, 140);
}

.last-but-one .author {
  font-size: 24px;
  text-align: end;
  font-weight: 900;
  margin: 0;
  padding-right: 30px;
}

.bottom-container {
  background-color: #3882F6;
  margin: 100px auto;
  width: 1015px;
  height: 140px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.bottom-container > button {
  border: 2px solid #F9FAF8;
  padding: 10px 30px;
  margin: auto 0;
  font-size: 20px;
  font-weight: 300;
}

.bottom-container > .text {
  margin: auto 0;
}

.call {
  color: #F9FAF8;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.signup-text {
  margin: 0;
  color: #E5E7EB;
}

.footer {
  background-color:#1F2937;
  color: #c5c7cb;
  text-align: center;
  padding: 20px;
}
