h1 {
  text-align: center;
  color: rgb(35, 216, 156);
}

.carousel {
  background-color: burlywood;
  box-shadow: 2px 1px 4px burlywood;
  max-width: 90%;
  margin: auto;
  position: relative;
}

.slides>img {
  width: 100%;
}

.img-0,
.img-1,
.img-2 {
  display: none;
}

.footer {
  text-align: center;
  padding: 1rem 0 0;
  font-family: cursive;
  font-size: smaller;
}

.circles {
  display: flex;
  justify-content: center;
  margin-top: 0.2em;
}

.circles>div :hover {
  cursor: pointer;
}

.back>img,
.forward>img {
  cursor: pointer;
}

.back {
  position: absolute;
  width: auto;
  top: 50%;
  margin-left: 2em;
}

.forward {
  position: absolute;
  width: auto;
  top: 50%;
  right: 2em;
}

.highlight {
  filter: invert(20%) sepia(200%) saturate(1500%) hue-rotate(-21deg) brightness(137%) contrast(73%);
}