body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-family: monospace;
  color: rgb(58, 144, 144);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
  height: 190px;
  border-radius: 10px;
}

.display {
  width: 188px;
  height: 58px;
  text-align: end;
  margin-bottom: 2px;
  background-color: rgb(165, 161, 161);
  padding-right: 5px;
  padding-top: 2px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 152px;
  height: auto;
  justify-content: center;
}

.btn {
  margin: 2px 5px;
  width: 40px;
  height: auto;
  font-size: large;
  transform: scale(0.98);
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.24); 
  border-radius: 5px;
}

.operatorsContainer {
  display: flex;
  flex-direction: column;
}

.calc {
  display: flex;
}

.btn-clear {
  padding: 0 auto;
  font-size: 13px;
  font-weight: 500;
}

.operations {
  background-color: #8adb39; 
}

.footer {
  margin-top: 10px; 
}
